# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/Code/data
Literatur.bib.bak
ExperimentModelAufbau_1
ExperimentModelTrainingsphase_1
IDP_Arbeit_Erkennung_von_Kleiderstücken.bbl
IDP_Arbeit_Erkennung_von_Kleiderstücken.bcf
IDP_Arbeit_Erkennung_von_Kleiderstücken.dvi
Literatur.bib.sav
IDP_Arbeit_Erkennung_von_Kleiderstücken.toc
IDP_Arbeit_Erkennung_von_Kleiderstücken.lof
IDP_Arbeit_Erkennung_von_Kleiderstücken.lot
IDP_Arbeit_Erkennung_von_Kleiderstücken.out
IDP_Arbeit_Erkennung_von_Kleiderstücken.out.ps
Abbildungsverzeichnis.txt
IDP_Arbeit_Erkennung_von_Kleiderstücken.txt
texput.txt
IDP_Arbeit_Erkennung_von_Kleiderstücken.synctex
IDP_Arbeit_Erkennung_von_Kleiderstücken.run
IDP_Arbeit_Erkennung_von_Kleiderstücken.aux
IDP_Arbeit_Erkennung_von_Kleiderstücken.bcf
IDP_Arbeit_Erkennung_von_Kleiderstücken.log
IDP_Arbeit_Erkennung_von_Kleiderstücken.run.xml
IDP_Arbeit_Erkennung_von_Kleiderstücken.toc
Abbildung_CNN_1.png
Abbildung_CRISP_DM_1.png
Abbildung_DatensatzAlsBild.jpg
Abbildung_DeepLearning_1.jpg
Abbildung_DeepLearning_1.png
Abbildung_DeepLearning_1.png
Abbildung_NeuronaleNetze_2.jpg
Abbildung_NeuronaleNetze_1.png
Abbildung_StatistikVerteilungTestDatensatz.jpg
Abbildung_StatistikVerteilungTrainDatensatz.jpg
Abbildung_MaschinellesLernen_1.jpg
Graustufenbild_Klassen.png
IDP_Arbeit_Erkennung_von_Kleiderstücken.blg
IDP_Arbeit_Erkennung_von_Kleiderstücken.synctex.gz
texput.log
Titelblatt_BA.docx
TitelblattBA.pdf
Literatur.bib.sav.tmp
ExperimentModelBewertungsgraf_1
BeispielÜberanpassungdesModells.png
DropoutNeuronalNetModel.png
earlyStopping.png